body {
    margin: 0px;
    padding:0px;
}
.heroimage{
    width:100%;
    height:auto;
    position:relative;
}
#navbar-css
{
    background-color:rgb(31, 88, 180);
    border:none; 
    border-radius:0px;
    font-size:20px;
}
#hamburger-dugme
{
    background-color:rgb(31, 88, 180);
    border-color:white;
}
#navbarBrand-link, #navbar-lista
{
    color:white;
}

#navbarBrand-link:hover
{
    font-size:0.95em;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
#navbar-logo:hover
{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
#navbar-lista:hover
{
    background-color:#00264d;
}
#futer-boja
{
    background-color:rgb(31, 88, 180);
}
footer img{
    width:50px;
    height:50px;
    padding:10px;
}
footer img:hover{
    opacity:0.7;
}
footer p{
    color:white;
    font-size:14px;
}
